.env

api_responses.json

/node_modules
/parent_json
/prompts_json
/responses_json
/final_responses
/.idea
**/final_seggregation
**/final_segregation_responses1
**/prompts_segregation_json
**/prompts_segregation_responses.json
/final_e 
/final_tags
/responses_tags
/Tags